<p>
  Created by
  <a href="https://twitter.com/southpolesteve">@southpolesteve</a> with Ember, Ember Model, and Emblem. The code is open source and <a href="https://github.com/southpolesteve/github-ember">available on Github</a>. The site is hosted on Heroku.
</p>