{{#each }}
  <div class="media">
    {{github-avatar user=user}}
    <div class="media-body">
      <div class="panel">
        {{markdown body}}
      </div>
    </div>
  </div>
{{/each}}
{{#if canLoadMore}}
  {{view Github.LoadMoreView}}
{{/if}}
<hr/>
{{view Github.NewCommentView}}