<div id="comments">
  <div class="media">
    {{github-avatar user=user}}
    <div class="media-body">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">{{title}}</h3>
        </div>
        {{markdown body}}
      </div>
    </div>
  </div>
  {{render 'comments' comments}}
</div>