<div id="issues">
  <div class="list-group">
    {{#each model}}
      {{#link-to 'issue' this classNames='list-group-item'}}{{title}}{{/link-to}}
    {{/each}}
    {{view Github.LoadMoreView}}
  </div>
</div>