<div id="repos">
  <label for="hideZeroIssues">
    Hide Repos with No Open Issues
    {{input type="checkbox" name="hideZeroIssues" checked=hideZeroIssues}}
  </label>
  <ul class="nav nav-tabs nav-stacked">
    {{#each filteredContent}}
      <li>
        {{#link-to 'repo' this}}
          {{full_name}} - {{open_issues}}
        {{/link-to}}
      </li>
    {{/each}}
    {{view Github.LoadMoreView}}
  </ul>
</div>